//+build ignore

package main

import (
	"github.com/pkg/errors"
	"github.com/pkgmain/smooth"
	"github.com/rs/zerolog/log"

	"{{.Module}}/resources"
)

func main() {
	err := smooth.GenerateResources(resources.VFS, smooth.DefaultVFSGenOptions)
	if err != nil {
		log.Fatal().Msgf("%+v", err)
	}
}
