package resources

import (
	"github.com/gobuffalo/packr/v2"
)

var (
	Config     = packr.New("config", "./config")
	Migrations = packr.New("migrations", "./migrations")
	_  = packr.New("templates", "./templates")
)
