package router

import (
	"net/http"

	"github.com/go-chi/chi"
	"github.com/gobuffalo/pop"
	"github.com/rs/zerolog/log"

	"{{.Module}}/config"
)

func Start(db *pop.Connection) error {
	r := chi.NewRouter()

	middleware(r, db)
	routes(r)

	log.Info().Msgf("Server listening on port %s...", config.Port)
	return http.ListenAndServe(":"+config.Port, r)
}
