package router

import (
	"net/http"

	"github.com/go-chi/chi"
	"github.com/gobuffalo/pop"

	"{{.Module}}/config"
)

func Start(db *pop.Connection) error {
	r := chi.NewRouter()

	middleware(r, db)
	routes(r)

	return http.ListenAndServe(":"+config.Port, r)
}
