package store

import (
	"github.com/gobuffalo/pop"
	"github.com/pkgmain/smooth"

	"{{.Module}}/config"
	"{{.Module}}/resources"
)

var db *pop.Connection

// DB returns an existing *pop.Connection. If a connection has not yet been made,
// a new one will be established.
func DB() (*pop.Connection, error) {
	if db != nil {
		return db, nil
	}

	err := connect()
	if err != nil {
		return nil, err
	}

	return db, nil
}

func connect() error {
	pop.SetLogger(smooth.ZeroPopLogger)
	pop.Debug = config.IsDev()

	f, err := resources.Config.Open("database.yml")
	if err != nil {
		return err
	}

	err = pop.LoadFrom(f)
	if err != nil {
		return err
	}

	db, err = pop.Connect(config.Env)
	if err != nil {
		return err
	}

	return nil
}
