package store

import (
	"github.com/gobuffalo/pop"
	"github.com/pkg/errors"
	"github.com/pkgmain/smooth"

	"{{.Module}}/resources"
)

type PopMigrator struct {
	box pop.MigrationBox
}

func NewMigrator(conn *pop.Connection) (m PopMigrator, _ error) {
	walkable := smooth.NewPackdWalkable(resources.VFS)
	box, err := pop.NewMigrationBox(walkable, conn)
	if err != nil {
		return m, err
	}

	return PopMigrator{box}, nil
}

func (m PopMigrator) Up() error {
	err := m.box.Up()
	if err != nil {
		return err
	}

	err = m.box.Status()
	if err != nil {
		return err
	}

	return nil
}

func (m PopMigrator) Down() error {
	err := m.box.Down(1)
	if err != nil {
		return errors.WithStack(err)
	}

	err = m.box.Status()
	if err != nil {
		return err
	}

	return nil
}
